@charset "UTF-8";
@import "signature";
@import "base";

.page-wrapper{
	position: relative;
	width: 100%;
	overflow:hidden;
	transition: transform 0.5s;

	&.sidebar-open{
		-webkit-transform: translate3d(-420px, 0, 0);
		transform: translate3d(-420px, 0, 0);

		@include width-below(1200px){
			-webkit-transform: translate3d(-350px, 0, 0);
			transform: translate3d(-350px, 0, 0);
		}
	}
}

.content{
	@extend .clearfix;
}

.wrapper{

	max-width: 720px;
	width:94%;
	margin: 0 auto;

	@extend .clearfix;

	@include width-below($grid-collapse-below){
		width: 100%;
		padding: 0 5%;
	}
}

.wrapper-media{
	@extend .wrapper;

	max-width: 960px;
}

.site-header{
	z-index: $z-menu;
	width: 100%;
	border-bottom: 1px solid #ddd;
	
	@extend %custom-bg;
	@extend .clearfix;

	.main-menu{
		width: 100%;
		font-family: $heading-font;
		text-align: center;
		border-bottom:1px solid #ddd;
		
		@include width-below($grid-collapse-below){
			display:none;
		}
		
		ul.top-level-menu{
			list-style: none;
			z-index: 10;
			position: relative;

		}

		li{
			display: inline-block;
			position: relative;
			margin-right: -4px;

			&:last-child {
				padding-right: 0;
			}

			&:hover {
				> a{
					color:$main-color;
				}

				.sub-menu{
					display:block;
				}
			}
		}

		a{
			display: inline-block;
			color: #333;
			padding:30px 15px 27px;
			text-decoration: none;
			font-size: 16px;

		}
		
	}

	.balzac-logo{
		text-align: center;
		padding: 80px 0;

		@include width-below($grid-collapse-below){
			width:100%;
			padding: 20px 0;
			text-align: left;
		}

		a.logo-text{
			font-size: 32px;
			font-family:$heading-font;
			color: #333;
			text-decoration: none;
			text-transform: uppercase;
			padding:10px;
			display: inline-block;
		}

		a.logo-img img{
			@include width-below($grid-collapse-below){
				max-height: 50px;
			}
		}
	}

	#toggle-sidebar-icon{

		position:absolute;
		z-index: 100;
		display: block;
		color:#333;
		font-size: 32px;
		padding:0;
		cursor:pointer;
		opacity:1;
		right:25px;
		top:25px;
		height: 36px;
		margin-top: -2px;
		transition: 0.5s all ease-in;

		&:before{
			vertical-align: text-top;
			@include width-below($grid-collapse-below){
				vertical-align: baseline;
			}
		}

		&:hover{
			@extend %custom-color;
		}
		
	}
}

.sidebar-open #toggle-sidebar-icon{
	opacity:0;
}

.site-header .sub-menu{
	position: absolute;
	background: #fff;
	left: 0;
	right: 0;
	top: 100%;
	display: none;
	min-width: 200px;
	border:1px solid #ddd;

	li{
		opacity: 1;
		margin:0;
		display: inline-block;
		width: 100%;
		text-align:left;
	}
	a{
		display:block;
		color: #333;
		font-size: 16px;
		padding:12px 10px 14px 10px;
		transition: padding 0.2s ease-out;
		
		&:hover{
			padding-left:20px;
		}
	}
}

.header-bar {

	.header-bar-title {
		padding: 40px 0;
		font-size: 28px;
		font-weight: bold;
		color: $main-color;
		text-transform: uppercase;
	}

	#site-breadcrumbs {
		margin: -30px 0 50px;
		font-size: 14px;

		a{
			text-decoration:none;

			&:hover{
				text-decoration:underline;
			}
		}
	}
}

.search-wrapper .search-form{
	display: none;
}
.search-wrapper .search-form .search-field{
	width: 80%;
	padding: 4px 4px;
	border-left: 2px solid #B2B2B2;

	&:focus{
		background: #fff;
	}
}
.search-wrapper .search-form .reset-btn{
	background: #fff;
}
.search-wrapper .submit-btn{
	display: none;
}
.search-wrapper .form-toggle{
	border: none;
	background: none;
	color: #f1f1f1;
	font-size: 20px;

	@include width-below($grid-collapse-below){
		padding-top: 10px;
		padding-left: 15px;
	}
}


body.admin-bar, .admin-bar .sidebar{
	top: 32px !important;
	
	@include width-below(782px){
		top:46px;
	}
}

.sidebar{

	@extend .clearfix;
	background-color:#242424;
	color: #F7F7F7;
	visibility: hidden;
	font-size: 16px;
	width: 420px;
	min-width:350px;
	height: 100%;
	line-height: 25px;
	padding: 0px 45px 45px;
	position: fixed;
	right:-420px;
	top: 0;
	bottom:0;
	transition: all 0.5s;

	overflow: scroll;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	-webkit-backface-visibility: hidden;

	@include width-below(1200px){
		width: 350px;
		right: -350px;
	}

	&.open{
		visibility: visible;
		padding-top: 60px;
		-webkit-transform: translate3d(-420px, 0, 0);
		transform: translate3d(-420px, 0, 0);

		@include width-below(1200px){
			-webkit-transform: translate3d(-350px, 0, 0);
			transform: translate3d(-350px, 0, 0);
		}

		#sidebar-close{
			opacity:1;
		}

	}

	#sidebar-close{
		color:#F7F7F7;
		z-index: 100;
		display: block;
		font-size: 36px;
		cursor:pointer;
		opacity:0;
		max-height: 36px;
		position: absolute;
		right: 20px;
		top:20px;
		transition: all 0.5s;
		
		&:hover{
			@extend %custom-color;
		}
	}
	
	.main-menu{
		
		font-family:$heading-font;
		margin-bottom: 20px;
		padding-bottom: 20px;
		
		.wrapper{
			padding:0;
			
			ul.top-level-menu{
				overflow:hidden;
				list-style-type:none;
				
				li.menu-item{
					display: block;
					border-bottom: solid 1px #4e4e4e;
					margin:0;
					padding:0;
					
					&:last-child{
						border-top:none;
					}
					
					a{
						display: block;
						padding: 20px 0px 17px;
						font-size: 18px;
						line-height: 1.6;
						text-decoration:none;
						transition: background 0.2s ease-out;
						transition: padding 0.2s ease-out;
						
						&:hover{
							@extend %custom-bg;
							@extend %custom-color;
							
							padding-left:10px;
						}
					}
				}
				
				.sub-menu{
					padding-left:20px;
					border-top: solid 1px #4e4e4e;
					
					li:last-child{
						border-bottom:none;
					}
				}
			}
		}
	}
}

.footer-wrapper{
	font-family: $heading-font;

	.site-footer{
		padding: 30px 0;
		text-align: center;

		.footnote{
			border-top: 1px solid #ddd;
			padding-top: 30px;
		}

		a{
			color:$main-color;
			text-decoration: none;
			font-family: $heading-font;
			font-weight:bold;

			&:hover{
				text-decoration:underline;
			}
		}

		.footmenu{

			ul.footer-menu{
				margin-top: 20px;
				list-style: none;

				li{
					display: inline-block;
					margin: 0 8px 10px;
				}
			}

			&:empty{
				display:none;
			}
		}
	}
}

.back-to-top{
	border: none;
	position: fixed;
	right: 0;
	bottom: 0;
	padding: 10px;
	transition: .2s background-color ease-out;

	&:before{
		font-size: 22px;
		transform: rotate(-90deg);
		vertical-align: middle;
		line-height: 24px;
	}
}


@import "modules/search";
@import "modules/post";
@import "modules/comments";
@import "modules/widgets";
@import "modules/pagination";