@charset "UTF-8";
@import "signature";
@import "base";

.site-wrapper{
	position: relative;
	overflow: hidden;
	width: 100%;
}

.content{
	@extend .clearfix;
}

.wrapper{

	max-width: 800px;
	width:94%;
	margin: 0 auto;

	@extend .clearfix;

	@include width-below(960px){
		max-width: 800px;
	}
	@include width-below($grid-collapse-below){
		width: 100%;
		padding: 0 5%;
	}
}

.wrapper-media{
	@extend .wrapper;

	max-width: 960px;
}

$menu-width: 280px;

.site-header{
	z-index: $z-menu;
	width: 100%;

	@extend %custom-bg;
	@extend .clearfix;

	@include width-below($grid-collapse-below){

	}

	.main-menu{
		width: 100%;
		font-family: $heading-font;
		text-align: center;
		border-bottom:1px solid #ddd;

		@include width-below($grid-collapse-below){
			text-align: left;
			float:none;
			width:100%;
		}

		ul.top-level-menu{
			list-style: none;
			z-index: 10;
			position: relative;

			@include width-below($grid-collapse-below){
				float:none;
				display: none;
				width:100%;
				overflow:hidden;
			}

			@include width-above($grid-collapse-below){
				display: block !important;
			}
		}

		li{
			display: inline-block;
			position: relative;
			margin-right: -4px;

			@include width-below($grid-collapse-below){
				display: block;
				padding:0;
			}

			&:last-child {
				padding-right: 0;
			}

			&:hover {
				> a{
					color:$main-color;
				}

				.sub-menu{
					display:block;
				}
			}

			@include width-above($grid-collapse-below){
				&.current-menu-item a{
					color:$main-color;
				}
			}
		}

		a{
			display: inline-block;
			color: $main-grey;
			padding:30px 10px 27px;
			text-decoration: none;
			font-size: 16px;

			@include width-below($grid-collapse-below){
				display: block;
				padding: 20px 0px 17px;
			}
		}
	}

	.balzac-logo{
		text-align: center;
		padding: 70px 0;

		@include width-below($grid-collapse-below){
			width:100%;
			padding: 20px 0;
		}

		a.logo-text{
			font-size: 30px;
			font-family:$heading-font;
			color: $main-grey;
			text-decoration: none;
			text-transform: uppercase;
			padding: 3px 0;
			display: inline-block;
		}

		a.logo-img img{
			max-height: 35px;
		}
	}

	#toggle-menu-icon{
		display: none;

		@include width-below($grid-collapse-below){
			z-index: 100;
			display: block;
			color:$custom-font-color;
			font-size: 26px;
			float:right;
			padding:0;
			margin: -2px 0 0 0;
			cursor:pointer;
			opacity:1;
			max-height: 36px;
			transition: .1s color ease-in;
		}

	}
}

.site-header .sub-menu{
	position: absolute;
	background: #fff;
	left: 0;
	right: 0;
	top: 100%;
	display: none;
	min-width: 200px;
	border:1px solid rgba(56, 69, 91, 0.1);

	@include width-below($grid-collapse-below){
		display: block;
		position: static;
		padding-top: 0;
		border:none;
		border-left: 2px solid rgba(56, 69, 91, 0.1);
	}

	li{
		opacity: 1;
		display: inline-block;
		width: 100%;

		&:hover > a{

		}

	}
	a{
		color: $custom-font-color;
		font-size: 14px;
		padding:12px 10px 14px 10px;
		transition: .2s color ease-out;
	}
}
.site-header .sub-menu a{
	@extend %custom-color;
	font-size: 16px;

	@include width-below($grid-collapse-below){
		padding-left: 30px;
		opacity: 1;
	}
}

.header-bar {

	.header-bar-title {
		padding: 40px 0;
		font-size: 28px;
		font-weight: bold;
		color: $custom-font-color;
		text-transform: uppercase;
	}

	#site-breadcrumbs {
		margin: -30px 0 50px;
		font-size: 14px;

		a{
			text-decoration:none;

			&:hover{
				text-decoration:underline;
			}
		}
	}
}

.search-wrapper .search-form{
	display: none;
}
.search-wrapper .search-form .search-field{
	width: 80%;
	padding: 4px 4px;
	border-left: 2px solid #B2B2B2;

	&:focus{
		background: #fff;
	}
}
.search-wrapper .search-form .reset-btn{
	background: #fff;
}
.search-wrapper .submit-btn{
	display: none;
}
.search-wrapper .form-toggle{
	border: none;
	background: none;
	color: #f1f1f1;
	font-size: 20px;

	@include width-below($grid-collapse-below){
		padding-top: 10px;
		padding-left: 15px;
	}
}


body.admin-bar .site-header{
	top: 32px !important;
}

.menu-toggle{
	background: none;
	border: none;
	font-size: 30px;
	display: none;

	@include width-below($grid-collapse-below){
		display: block;
	}
}


.sidebar{
	padding-top:0;
}

.footer-wrapper{
	font-family: $heading-font;
	
	.site-footer{
		padding: 30px 0;
		text-align: center;
		
		.footnote{
			border-top: 1px solid #ddd;
			padding-top: 30px;
		}
		
		a{
			color:$custom-font-color;
			text-decoration: none;
			font-family: $heading-font;
			font-weight:bold;
		
			&:hover{
				text-decoration:underline;
			}
		}
		
		.footmenu{
			
			ul.footer-menu{
				margin-top: 20px;
				list-style: none;
				
				li{
					display: inline-block;
					margin-left: 14px;
				}
			}
			
			&:empty{
				display:none;
			}
		}
	}
}

.back-to-top{
	border: none;
	position: fixed;
	right: 0;
	bottom: 0;
	padding: 10px;

	&:before{
		font-size: 22px;
	}
}


@import "modules/search";
@import "modules/post";
@import "modules/comments";
@import "modules/widgets";
@import "modules/pagination";