// Common styles

.widget{
	margin-bottom: 20px;
	padding-bottom: 20px;
	font-family: $heading-font;
	font-size:18px;
	line-height: 1.6;

	ul,
	ol{
		list-style: none;
	}

	ul li{
		padding-top: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid rgba(56, 69, 91, 0.1);

		&:first-child{
			padding-top:0;
		}

		&:last-child{
			padding-bottom:0;
			border-bottom:none;
		}
	}

	a{
		@extend %custom-color;
		text-decoration: none;

		&:hover{
			text-decoration:underline;
		}

	}
	table{
		width: 100%;
	}
	td{
		text-align: center;
	}
	select{
		max-width: 100%;
	}

}
.widget > h3{
	font-size: 22px;
	margin-bottom: 20px;
	font-weight: bold;
}

// WordPress default widgets

.widget_search{
	position: relative;

	.search-field{
		width: 100%;
		padding: 4px 40px 4px 10px;
		line-height: 32px;
		height:40px;
	}
	.reset-btn{
		right: 42px;
		top: 3px;
	}
	.submit-btn{
		width: 40px;
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;

		&:before{
			font-size: 24px;
		}
	}
}

.widget_text{

	p {
		margin-bottom: 15px;
	}
	img{
		height:auto;
	}

	.wp-caption{
		margin-bottom: 15px;

		.wp-caption-text{
			font-size: 14px;
			text-align: center;
			padding-bottom: 5px;
		}
	}
}

.widget_tag_cloud .tagcloud a{
	display: inline-block;
	color: $main-color;
	border:2px solid $main-color;
	padding: 4px 8px;
	margin: 4px 0;

	&:hover{
		text-decoration:none;
	}
}

.widget_calendar{

	caption{
		font-family: $heading-font;
		font-size: 16px;
		margin-bottom: 5px;
		padding: 10px 0;
	}

	th{
		font-weight: 400;
		color: #B2B2B2;
		padding: 5px 0;
	}

	td,
	th{
		padding: 5px;
	}

	#today{
		font-weight:bold;
	}

	#next,
	#prev{
		padding:0;
	}

	#next a,
	#prev a{
		display:block;
		margin-top:10px;
		width: 100%;
		height: 100%;
		@extend %button;
	}
}

.widget_rss{

	h3 a{
		color:#fff;
	}

	ul li a.rsswidget{
		display:block;
		margin-bottom: 5px;
	}

	.rss-date {
		font-size: 14px;
	}

	.rssSummary{
		margin: 5px 0;
	}
}

.widget_nav_menu{
	ul.menu{
		li.menu-item{
			display:block;
			border-bottom: solid 1px #4e4e4e;
			margin:0;
			padding:0;
			
			&:last-child{
				border-bottom:none;
			}
			
			a{
				display: block;
				padding: 20px 0px 17px;
				transition: background 0.2s ease-out;
				transition: padding 0.2s ease-out;
				
				&:hover{
					@extend %custom-bg;
					@extend %custom-color;
					
					padding-left:10px;
					text-decoration:none;
				}
			}
		}
		
		.sub-menu{
			padding-left: 20px;
			border-top: solid 1px #4e4e4e;
		}	
	}
}

// Balzac custom widgets

.widget_balzaccalltoaction{

	.cta-description{

		p{
			margin-bottom: 10px;
			line-height: 1.42;
		}
	}

	a.button{
		display:inline-block;
		@extend %button;
	}
}

.widget_balzacsocial{

	ul {
		overflow: hidden;
		@extend .clearfix;

		li{
			float:left;
			border:none;
			padding:0;
			margin:0 5px 15px;

			a{	
				@extend %custom-bg;
				@extend %custom-color;
				
				font-size:26px;
				line-height: 36px;
				width:40px;
				height: 40px;
				border-radius: 25px;
				white-space: nowrap;
				vertical-align: middle;
				text-align: center;
				padding: 0 5px;
				display:inline-block;
				&:hover{
					text-decoration:none;
				}
			}
		}
	}
}

// Footer widgets (maybe in a future release ?)

.footer-bar .widget{

	> h3{
		color:$main-color;
	}
}
